body {
  margin: 0;
}

/* NAVBAR */
.navbar {
  background-color: #FFFDE1;
}

a {
  color: #FF9D76 !important;
  font-weight: bold;
}


/* SERVICE TITLE */
.service-title {
  text-align: center;
  padding-bottom: 15px;
}


/* SALON */
#salon {
  padding: 2% 13% 4% 13%;
  margin-top: 56px;
  text-align: center;
}

.pet {
  justify-content:center;
}

.salon-plan {
  text-align: center;
  padding: 60px 20px;
  border-color: #ffaf90;
  border-style: solid;
  border-width: 8px;
  border-radius: 5%;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 300px;
  min-width: 300px;
  background: white;

}

#salon h1 {
  color: #51EAEA;
}

.pet-icon {
  margin-bottom: 20px;
  color: #FB3569;
}

.salon-plan h2{
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}

.salon-plan h5{
  margin-bottom: 20px;
  color:#FF9D76;
}

.salon-plan p {
  color: #BBBBBB;
}


/* HOTEL */
#hotel {
  padding: 3% 13% 1% 13%;
  background: #51EAEA;
}

.hotel {
  justify-content: center;
}


#hotel h1 {
  color: #FFFDE1;
}

.hotel-plan {
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 300px;
  min-width: 300px;
  border-radius: 5%;
  border-color: #FFFDE1;
  border-style: solid;
  border-width: 8px;
  background: white;
}

.hotel-plan h2{
  margin-bottom: 40px;
  font-weight: bold;
}

.hotel-plan h6{
  margin-bottom: 40px;
  color: #FB3569;
}

.hotel-plan p {
  color: #BBBBBB;
}

.icon {
  color:#FF9D76;
  padding-bottom: 20px;
}
